*
.*
!meson.build
!VERSION
!backend/server/src
!backend/server/include
!backend/server/lib
!backend/server/meson.build
!backend/server/server.key
!backend/server/server.crt
!backend/sql
!scripts/run.sh
!client
client/node_modules
