APP_PORT=8080           # Listen TCP port.
APP_IP_VERSION="ipv4"   # ipv4 or ipv6
APP_LOG_LEVEL="info"    # verbose, debug, info, warn, error, fatal
APP_THREAD_POOL=0       # 0 means default to number of online threads you have.

APP_ROOT_DIR="client/public"
APP_IMG_DIR="client/public/upload/imgs"
APP_VID_DIR="client/public/upload/vids"
APP_FILE_DIR="client/public/upload/files"

# PostgreSQL
DB_USER=YOUR_USERNAME
DB_PASSWORD=YOUR_PASSWORD
#DB_HOST=localhost
#DB_PORT=5432
